body{
    background-image: url(../image/bbtbackground.jpg);
}

#top-banner{
    background-image:url(../image/thingtoknowbanner.PNG);
    background-size:cover;
    background-position: center center;
    background-position-y: 85%;
}

#bannertext{
    background-color:rgba(255, 255, 255, 0.733);
}

.card-body{
    margin-top:30px;
}


