body{
    background-image: url(image/bbtbackground.jpg);
}

#content{
    width: 100%;
    height:500px;
    margin-top:30px;
    
}

#map {
    width: 100%;
    height: 100%;
    
    
}

#reset{
    pointer-events: auto;
    margin-left:10px;
}

#sidebar{
    background-color:white;
}

#sidebar>div{
    text-align: center;  
}